{% extends 'basic.html' %}

{% block title %}
    {{ current_rubric.name }}
{% endblock %}

{% block page-title %}
    Рубрика: {{ current_rubric.name }}
{% endblock %}

{% block navigation %}
    <a class="btn btn-primary" href="{% url 'main_bboard' %}">Назад</a>
{% endblock %}

{% block content %}
    {% for bb in bbs %}
        <div class="card mt-4">
            <h5 class="card-header">{{ bb.title }}</h5>
            <div class="card-body">
                <h6 class="card-title">{{ bb.published|date:"d.m.Y H:i:s" }}</h6>
                <p class="card-text">{{ bb.content }}</p>
                <p>Рубрика: <a href="/bboard/{{ bb.rubric.pk }}">{{ bb.rubric.name }}</a></p>
                <p>Категория: {{ bb.kind }}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'delete' pk=bb.pk %}" class="btn btn-danger">Удалить</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
