{% extends 'basic.html' %}

{% block title %}
    To-Do List
{% endblock %}

{% block page-title %}
    Задачи:
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="POST" class="mt-4">
            {% csrf_token %}
            {{ form.title }}
            <input type="submit" name="Create Task" class="btn btn-info" value="Новая задача">
        </form>
    {% endif %}

    {% for task in tasks %}
        <div class="item-row mt-4">
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-info" href="{% url 'update_task' pk=task.pk %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete_task' pk=task.pk %}">Delete</a>
            {% endif %}
            {% if task.complete == True %}
                <strike>{{ task }}</strike>
            {% else %}
                <span>{{ task }}</span>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}