{% extends 'basic.html' %}

{% block title %}
    To-Do List
{% endblock %}

{% block page-title %}
    Задачи:
{% endblock %}

{% block navigation %}
    <a class="btn btn-primary mr-3" href="{% url 'main_page' %}">Назад</a>
    <a class="btn btn-primary" href="{% url 'done_task' %}">Выполненные задачи</a>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="POST" class="mt-4">
            {% csrf_token %}
            {{ form.title }}
            <input type="submit" name="Create Task" class="btn btn-info" value="Новая задача">
        </form>
    {% endif %}

    {% for task in tasks %}
        <div class="item-row mt-4">
            <a class="btn btn-sm btn-info" href="{% url 'update_task' pk=task.pk %}">Update</a>
            <span class="ml-3">{{ task }}</span>
        </div>
    {% endfor %}

{% endblock %}