{% extends 'basic.html' %}

{% block title %}
    Update task
{% endblock %}

{% block page-title %}
    Update task
{% endblock %}

{% block content %}
    <nav class="mt-5">
        {% if user.is_authenticated %}
            <a href="{% url 'task_index' %}" class="btn btn-success mr-1">Назад</a>
        {% endif %}
    </nav>
    <div class="center-column">
        <form method="POST" class="mt-4" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="Update Task">
        </form>
    </div>
{% endblock %}