{% extends 'basic.html' %}

{% block title %}
    {{ task.title }}
{% endblock %}

{% block page-title %}
    Task: {{ task.title }}
{% endblock %}

{% block navigation %}
    <a href="{% url 'task_index' %}" class="btn btn-success mr-1">Назад</a>
{% endblock %}

{% block content %}

    <div class="center-column">
        <p class="mt-4">Are you sure you want delete {{ task.title }}?</p>

        <form method="POST" action="">
            {% csrf_token %}
            <input type="submit" name="Confirm" value="Delete" class="btn btn-danger">
        </form>
    </div>
{% endblock %}