{% extends 'basic.html' %}

{% block title %}
    Update task
{% endblock %}

{% block page-title %}
    Update task
{% endblock %}

{% block navigation %}
    <a href="{% url 'task_index' %}" class="btn btn-success">Назад</a>
{% endblock %}

{% block content %}
    <div class="center-column">
        <form method="POST" class="mt-4" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-info" name="Update Task" value="Обновить задачу">
        </form>
    </div>

{% endblock %}